on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

name: Create Release
permissions:
  contents: write

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: stable
          cache-dependency-path: ./go/go.sum
      - name: Display Go version
        run: go version
      - name: Build project
        env:
          VERSION: ${{ github.ref }}
        run: |
          make release
      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          files: release/*
